<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="application.name" source="spring.application.name"/>
    <property name="BASE_DIR" value="/log"/>
    <property name="LOG_FILE" value="${BASE_DIR}/${application.name}"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n"/>
    
    <!-- Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>​
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    <springProfile name="default">
        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
    <springProfile name="production">
        <root level="DEBUG">
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
</configuration>